<div class="info__upload-image upload-image" *ngIf="!activeSurfspot.editing">
  <h3>Add Image</h3>
  <div class="line-break"></div>
  <div class="upload-image__progress hidden" id="progress-wrapper">
    <div class="upload-image__progress__bar" id="progress-bar" [style.width.px]="barWidth">
      <span class="upload-image__progress__caption" id="progress-caption">{{uploadProgress}}% done</span>
    </div>
  </div>
  <div class="line-break"></div>
  <img *ngIf="previewImage" [src]="previewImage" id="previewImg" class="upload-image__image">
  <textarea *ngIf="previewImage" name="caption" id="image-caption"
            placeholder="Write some infomation about this image" class="upload-image__caption hidden"
            [ngModel]="previewImageCaption" (ngModelChange)="handleChangePreviewCaption($event)"></textarea>
  <div class="line-break"></div>
  <input type="file" name="imageFile" id="imageFile" class="upload-image__input"
         accepts="image/jpeg, image/jpg, image/png, image/bmp"  *ngIf="supportFileAPI()" (change)="handleImageSelection($event)"/>
  <label for="imageFile" class="upload-image__select-btn" *ngIf="supportFileAPI()">Select image</label>
  <div class="line-break"></div>
  <button *ngIf="previewImage" id="images-upload-btn" class="upload-image__upload-btn hidden" (click)="handleImageUpload()" >Submit</button>
</div>
