@import '../../_vars.scss';
@import '../../_mixins.scss';

.upload-image {
  display: flex;
  position: relative;
  flex-wrap: wrap;
  justify-content: space-between;
  &__input {
    @include hide-input;
  }
  &__upload-btn, &__select-btn {
    @include button;
    align-self: flex-start;
    display: inline-block;
    border: 1px solid $mirage;
    padding: 0.3rem;
    margin: 1rem 0;
    border-radius: 4px;
  }
  &__image {
    align-self: flex-start;
    max-width: 45%;
  }
  &__caption {
    width: 45%;
    height: 7rem;
  }
  &__progress {
    width: 200px;
    border: 1px solid $mirage;
    margin: 1rem 0;
    height: 20px;
    &__bar{
      overflow-x: visible;
      width: 0;
      height: 20px;
      background-color: #4CAF50;
    }
    &__caption {
      text-align: center;
      text-transform: uppercase;
      width: 200px;
      display: inline-block;
    }
  }
}
