<header>
  <button class="log-out-btn">Log Out</button>
</header>
<!--<agm-map [latitude]="lat" [longitude]="lng">-->
  <!--<agm-marker [latitude]="lat" [longitude]="lng"></agm-marker>-->
<!--</agm-map>-->
<si-filter-drawer
  [surfspotList]="surfspotList"
  [showDrawer]="showDrawer"
  (onToggleDrawer)="toggleDrawer()"
  (onSurfspotSelection)="setSurfComponentVariables($event)"></si-filter-drawer>
<si-surfspot
  (onSetEditing)="setEditing($event)"
  (onCancelEditing)="cancelEditing()"
  (onUpdate)="update($event)"
  (onDeleteImage)="deleteImage($event)"
  (onTogglePopup)="togglePopup()"
  (onImageSelection)="handleImageSelection($event)"
  (onImageUpload)="handleImageUpload()"
  (onChangePreviewCaption)="handleChangePreviewCaption($event)"
  [activeSurfspotImageList]="activeSurfspotImageList"
  [activeSurfspot]="activeSurfspot"
  [imageListFormValues]="imageListFormValues"
  [previewImage]="previewImage"
  [previewImageCaption]="previewImageCaption"
  [surfspotFormValues]="surfspotFormValues"
  [uploadProgress]="uploadProgress"
  [showPopup]="showPopup"></si-surfspot>
