@import '../_vars.scss';

agm-map {
  width: 100%;
  height: 100%;
}

header {
  height: $headerHeight;
  width: 100%;
  background-color: $mirage;
  position: absolute;
  z-index: 2;
  top: 0;
  display: flex;
  justify-content: center;
}
