<header>
  <button class="log-out-btn">Log Out</button>
</header>
<!--<agm-map [latitude]="lat" [longitude]="lng">-->
  <!--<agm-marker [latitude]="lat" [longitude]="lng"></agm-marker>-->
<!--</agm-map>-->
<si-filter-drawer
  [surfspotList]="surfspotList"
  (onSurfspotSelection)="setActiveSurfspotAndImageList($event)"></si-filter-drawer>
<si-surfspot
  (onSetEditing)="setEditing($event)"
  (onCancelEditing)="cancelEditing()"
  (onUpdate)="update()"
  (onDeleteImage)="deleteImage($event)"
  [activeSurfspotImageList]="activeSurfspotImageList"
  [activeSurfspot]="activeSurfspot"></si-surfspot>
