<div class="popup" id="popup" [ngClass]="showPopup ? 'popup--open' : '' " *ngIf="activeSurfspot" >
  <div class="popup__toggle popup__toggle-up" (click)="togglePopup()">Pop Up!</div>
  <div class="popup__toggle popup__toggle-down" (click)="togglePopup()">Pop Down!</div>
  <div class="info-wrapper">
    <div class="popup__info info" id="info-wrapper">
      <button class="info__edit-btn" (click)="setEditing(true)"></button>
      <label class="info__name" *ngIf="!activeSurfspot.editing" (dblclick)="setEditing(true)">{{activeSurfspot.name }}</label>
      <input class="info__name--edit" *ngIf="activeSurfspot.editing" [(ngModel)]="surfspotFormValues.name"
        (keyup.enter)="update()" (keyup.escape)="cancelEditing()" />
      <label class="info__latlng">lat: <span >{{activeSurfspot.latlng.lat}}</span></label>
      <label class="info__latlng">lng: <span >{{activeSurfspot.latlng.lng}}</span> </label>
      <p class="info__details" *ngIf="!activeSurfspot.editing" (dblclick)="setEditing(true)">{{activeSurfspot.info}}</p>
      <textarea class='info__details--edit' *ngIf="activeSurfspot.editing" [(ngModel)]="surfspotFormValues.info"
      (keyup.enter)="update()" (keyup.escape)="cancelEditing()"></textarea>
      <si-image-gallery
        (onSetEditing)="setEditing($event)"
        (onCancelEditing)="cancelEditing()"
        (onUpdate)="update($event)"
        (onDeleteImage)="deleteImage($event)"
        (onImageSelection)="handleImageSelection($event)"
        [activeSurfspotImageList]="activeSurfspotImageList"
        [activeSurfspot]="activeSurfspot"
        [imageListFormValues]="imageListFormValues"
        [imagePreview]="imagePreview"
        [surfspotFormValues]="surfspotFormValues"></si-image-gallery>
      <button class="info__update-btn">
        Update
      </button>
      <button class="info__cancel-btn">
        Cancel
      </button>
    </div>
  </div>
</div>
<!--<div class="popup" id="popup" data-bind="with: selectedPlace, css:{'popup&#45;&#45;open': $root.showLargeInfoWindow()}">-->
  <!--<div class="popup__toggle popup__toggle-up" data-bind="click: $root.toggleShowLargeInfoWindow">Pop Up!</div>-->
  <!--<div class="popup__toggle popup__toggle-down" data-bind="click: $root.toggleShowLargeInfoWindow">Pop Down!</div>-->
  <!--<div class="info-wrapper">-->
    <!--<div class="popup__info info" id="info-wrapper">-->
      <!--<button class="info__edit-btn" data-bind="visible: !editing(), click: setEditing"></button>-->
      <!--<label class="info__name" data-bind='text: name, visible: !editing(),event: { dblclick: setEditing }, doubleTap: setEditing'>info__name</label>-->
      <!--<input class='info__name&#45;&#45;edit' data-bind="value: name, visible: editing,  valueUpdate: 'afterkeydown', enterKey: saveEditing, escapeKey: undoEditing"></input>-->
      <!--<label class="info__latlng">lat: <span data-bind='text: latlng().lat'></span></label>-->
      <!--<label class="info__latlng">lng: <span data-bind='text: latlng().lng'></span> </label>-->
      <!--<p class="info__details" data-bind='text: info, visible: !editing(),event: { dblclick: setEditing }, doubleTap: setEditing'></p>-->
      <!--<textarea class='info__details&#45;&#45;edit' data-bind="value: info, visible: editing,  valueUpdate: 'afterkeydown', escapeKey: undoEditing"></textarea>-->
      <!--<button data-bind='click: saveEditing, visible: (editing())' class="info__update-btn">-->
        <!--Update-->
      <!--</button>-->
      <!--<button data-bind='click: undoEditing, visible: (editing())' class="info__cancel-btn">-->
        <!--Cancel-->
      <!--</button>-->
    <!--</div>-->
  <!--</div>-->
<!--</div>-->

