@mixin fullHeight {
  height: 100%;
}

@mixin viewportHeight {
  height: 100vh;
}

@mixin hide-input {
  width: 0.1px;
  height: 0.1px;
  opacity: 0;
  overflow: hidden;
  position: absolute;
  z-index: -1;
}

@mixin button {
  padding: 1px 6px;
  box-sizing: border-box;
  text-transform: uppercase;
  text-align: left;
  outline: none;
  cursor: pointer;
}
@mixin drawer-button {
  @include button;
  color: $gallery;
  line-height: $headerHeight;
  height: $headerHeight;
  background-color: $mirage;
  border: 1px solid $gallery;
  outline: none;
}

@mixin full-width-drawer-button{
  @include drawer-button;
  width: 100%;
}

@mixin edit-and-delete-btn {
  outline: 0;
  margin: 0;
  padding: 0;
  border: 0;
  background: none;
  font-size: 100%;
  vertical-align: baseline;
  font-family: inherit;
  color: inherit;
  appearance: none;
  /*display: none;*/
  position: absolute;
  width: 1px;
  height: 1px;
  margin: auto 0;
  font-size: 22px;
  color: #a88a8a;
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
  &:hover{
    text-shadow: 0 0 1px #000,
    0 0 10px rgba(199, 107, 107, 0.8);
    transform: scale(1.3);
  }
}

@mixin form-fields {
  color: #222;
  box-sizing: border-box;
  width: 200px - 12px;
}

@mixin drawers {
  @include viewportHeight;
  text-align: left;
  color: $gallery;
  width: 200px;
  background-color: $mirage;
  position: absolute;
  top: 0;
  transition: transform 0.3s ease-out;
  z-index: 2;
}

@mixin popup__toggle {
  position: absolute;
  text-align: center;
  background-color: white;
  width: 100%;
  line-height: 2rem;
  text-transform: uppercase;
  right: 0px;
}
